doctype html
html(lang='en')
 head
  title #{title}
  link(rel='stylesheet', href='/stylesheets/style.css')
 body
  header
   include navBar.pug
  body
   h1 #{title}
   ul(class='list')
    each blog in blogs
     li(class='list_item') 
      div(class='blog-title') #{blog.blogTitle}
      div(class='blog-text')  #{blog.blogText}
      div(class='created-on') #{blog.createdOn}
      div(class='manage')     #{blog.manage}
       div
        a(href=`/blog-edit/${blog._id}`) Edit 
        a(href=`/blog-delete/${blog._id}`) Delete  
       
